# Ignore all archives
*.7z
*.zip
*.rar

# Ignore Windows scripts
*.bat

# dogpantz files
dailyvim
dognote

#project files
.bowerrc
bower.json
node_modules/*

# resources
res/*.*
res/gfx/*.*
res/sfx/*.*
